---
layout: landing-page
---		
		<!-- Main -->
			<article id="main">
				{% include front-page-header.html %}
				<!-- One -->
				{% include timeline.html %}
				
				<!-- Two -->
				{% include second-page.html %}
			</article>

		<!-- CTA -->
			<section id="cta">
			
				<header>
					<h2>Want to contact <strong>{{ site.owner }}</strong>?</h2>
					<p>You can contact him with below button or connect him through media social</p>
				</header>
				<footer>
					<ul class="buttons">
						<li><a href="http://bit.ly/filusghazali-whatsapp" target="_blank" class="button special">WhatsApp</a></li>
						<li><a href="mailto:filusdp@gmail.com" target="_blank" class="button special">Email</a></li>
					</ul>
				</footer>
			
			</section>
