<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="http://bit.ly/filusghazali-whatsapp" target="_blank" class="icon circle fa-comments"><span class="label">WhatsApp</span></a></li>
        <li><a href="mailto:filusdp@gmail.com" target="_blank" class="icon circle fa-envelope-o"><span class="label">Gmail</span></a></li>
        <li><a href="https://twitter.com/filusdp" target="_blank" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/filusdp" target="_blank" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="http://www.imdb.com/name/nm2133811/" target="_blank" class="icon circle fa-imdb"><span class="label">IMDb</span></a></li>
        <li><a href="https://www.youtube.com/user/filusdp" target="_blank" class="icon circle fa-youtube"><span class="label">Youtube</span></a></li>
    </ul>

    <ul class="copyright">
        <li><a href="https://bolehtak.com" target="_blank">BTDC Services </a> &copy; {{ site.owner }}</li>
        <li>{{ site.time | date: '%Y' }}</li>
    </ul>

</footer>