<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="http://bit.ly/filusghazali-whatsapp" class="icon circle fa-comments"><span class="label">WhatsApp</span></a></li>
        <li><a href="mailto:filusdp@gmail.com" class="icon circle fa-envelope-o"><span class="label">Gmail</span></a></li>
        <li><a href="https://twitter.com/filusdp" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/filusdp" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
    </ul>

    <ul class="copyright">
        <li><a href="https://bolehtak.com" target="_blank">bolehtak.com</a> &copy; {{ site.owner }}</li>
        <li>{{ site.time | date: '%Y' }}</li>
    </ul>

</footer>