<header class="special container">
	<span class="icon fa-user"></span>
	<img src="/images/filusghazali.jpg" alt="Avatar">
	<h2><strong>Mohd Filus Ghazali</strong></h2>
	<p> His body of work includes award winning
	<strong>TVC, Documentaries, Short</strong> and
	<br/> 
	feature length films as well as 
	<strong>Television Drama Productions</strong>. 
	<br/>
	Filus is looking to establish association with <strong>Creative Directors and Producers</strong>. 
	<br/>
	He is always looking for a challenge and enjoys a diversity of work and well written Scripts.</p>
</header>