<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="" />
    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <!-- <link rel="stylesheet" href="{{ "/css/skel-compress.css" | prepend: site.baseurl }}"/> -->
    <link rel="stylesheet" href="{{ "/css/style-compress.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/css/style-wide-compress.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/css/style-noscript-compress.css" | prepend: site.baseurl }}"/>
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script defer src="/js/jquery.min.js"></script>
    <script defer src="/js/jquery.dropotron.min.js"></script>
    <script defer src="/js/jquery.scrolly.min.js"></script>
    <script defer src="/js/jquery.scrollgress.min.js"></script>
    <script defer src="/js/skel.min.js"></script>
    <script defer src="/js/skel-layers.min.js"></script>
    <script defer src="/js/init-compressed.js"></script>
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
    <meta name="viewport" content="width=device-width">
    {% include favicon.html %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
