<head>
	<link rel="stylesheet" href="{{ "/css/timeline-compress.css" | prepend: site.baseurl }}"/>
</head>
{% assign timeline_data = site.data.timeline' %}
<section class="timeline-section" id=timeline>
	<h2 class="title">{{ timeline_data.title }}</h2>
	<p class="leader">{{ timeline_data.leader }}</p>
	<div class="demo-card-wrapper">

		{% for item in timeline_data.timeline-item %}

		<div class="demo-card demo-card--step{{ item.step }}">
			<div class="head">
				<div class="number-box">
					<span>{{ item.number_display }}</span>
				</div>
				<h2 class="timeline-box-title"><span class="small">{{ item.subtitle }}</span>{{ item.title }}</h2>
			</div>
			<div class="body">
				<p>{{ item.description }}</p>
				<img src="{{ item.image }}" alt="Graphic">
			</div>
		</div>
		{% endfor %}
	</div>
</section>